<div class="message">
    <h4>Essa tabela representa os últimos logs sobre esse Video</h4>
    <ul>
        <li>
            <b>Ação:</b>
            Nome da ação realizada
        </li>
        <li>
            <b>Tempo:</b>
            Quando foi realizada a ação
        </li>
        <li>
            <b>Ip:</b>
            Endereço Ip do visitante que fez essa ação
        </li>
        <li>
            Se quiser pode imprimir todos os logs através da tecla 'Mais'
        </li>
        <li>
            O gráfico em baixo mostra os logs do dia pelo Video.O eixo abcissa é dividido em 24 intervalos representa cada hora do dia
        </li>
    </ul>
</div>
