<div class="message">
    <h5>O gráfico do tipo radar é usado para representar os números totais de ações feitos no site sobre os Videos</h5>
    <h4>
        Descrição dos campos da tabela:
    </h4>
    <ul>
        <li>
            <b>
                Visitantes:
            </b>
            Número de visitante que entraram no site
        </li>
        <li>
            <b>
                Videos:
            </b>
            Número de fluxo Video presente no site
        </li>
        <li>
            <b>
                Plays:
            </b>
            Número de play total feito no site
        </li>
        <li>
            <b>
                Votados:
            </b>
            Número total de voto
        </li>
        <li>
            <u>
                Comentados:
            </u>
            Número total de comentário<u/>
        </li>
        <li>
            <u>
                Incorporados em outros sites:
            </u>
            Número de site que hospeda nossos fluxos
        </li>
    </ul>
</div>
