<div class="message">
    <h4>
        <u>
            As duas tabelas abaixo representa atividade dos visitantes:
        </u>
    </h4>
    <ul>
        <li>
            <b>
                Período:
            </b>os Visitantes mais ativos para um período. Pode escolher um período a partir da tecla 'Selecione um período' em cima a direita. Período padrão 30 dias. Essa tabela é em relação ao gráfico abaixo. O número de dia máximo de um período ( no gráfico ) é de 40 dias para deixar o gráfico legível.
        </li>
        <li>
            <b>
                Hoje:
            </b>
            os Visitantes mais ativos do dia.
        </li>
        <li>
            - O campo Id é o identificador do visitante
        </li>
        <li>
            - O campo Plays o número do play desse visitante
        </li>
        <li>
            - O campo Ip mostra o endereço Ip do visitante
        </li>
    </ul>
</div>
