{% extends 'mega/main.html' %}

{% load util %}

{% block content %}

    <div id="header">
        <div class="container">
            <div id="logo">
            	<a href="{% url home %}{{ rede.link }}/">
            		<img src="{{ rede|logo }}" border="0" />
            	</a>
            </div>
        </div>
    </div>

    {% block bloco %}

        <div id="content">
            <div class="container">

                <div class="bar">Avaliação de Usuário</div>

                <div class="wrap">
                	
                    <p>Analise as respostas abaixo e avalie o usuário: {{ user.get_full_name }}<br />As notas variam de 0 ao 10 (a nota aplicada será um fator importante na geração dos pontos)</p>
                    
                </div>
                
                <form action="./" method="post" id="questions">
                	
                	{% csrf_token %}

                    {% for lq in list_question %}
                    
                    	{% if not lq.get_list_response_order %}
                    
	                    	<p class="number">{{ forloop.counter }}</p>
		                    <p class="question">{{ lq.text|safe }}</p>
	
			                <div class="responses">
		                       
		                        <p style="width: 85%;float: left">{{ lq|get_free_response:user }}</p>
		                        <select name="nota_{{ lq.id }}" style="width: auto;float: right; margin: 5px;">
		                        	<option value="">selecione</option>
		                        	{% for i in lista %}
		                        		{% if i|safe == forloop.parentloop.counter0|nota:notas %}
		                        			<option value="{{ i }}" selected="selected">nota {{ i }}</option>
		                        		{% else %}
		                        			<option value="{{ i }}">nota {{ i }}</option>
		                        		{% endif %}
		                        	{% endfor %}
		                        </select>
		                        <div class="clear"></div>
		                    
		                	</div>
		                
		                {% endif %}
		
		            {% endfor %}
		            
		            {% if error %}
		            	<p style="color: red; display: block">{{ error }}</p>
		            {% endif %}

		            <input type="submit" value="Avaliar" class="buttom" />
		            
		        </form>
                    
                </div>
                    
            </div>
        </div>

    {% endblock bloco %}

{% endblock content %}