{% load util keyboard screensaver %}

<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>

    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/no-ie6.css" type="text/css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/tip-yellowsimple.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout.css" type="text/css" />

    {% if get_template.rede %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/template/{{ get_template.rede.link }}.css" type="text/css" />
    {% endif %}

    <!-- layouts smaller than 600px, iPhone and mobiles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout-mobile.css" type="text/css" media="handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)" />
    <!-- tablet styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout-tablet.css" type="text/css" media="only screen and (min-width: 601px) and (max-width: 970px)" />

    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.lazyload.js?v=1.8.3" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.poshytip.min.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/scripts.js" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta name="HandheldFriendly" content="true" />

    <link href="{{ rede|favicon }}" rel="shortcut icon" type="image/x-icon" />

    <meta name="robots" content="index,follow" />

    <meta name="description" content="Seja bem vindo ao treinamento a distância TCD, www.treinandoequipes.com.br" />
    
    {% get_screensaver rede %}

</head>

<body>

	<div url="{{ base_url }}" class="no-ie6"></div>
	<div class="static_url" media="{{ STATIC_URL }}{{ get_tipo_template }}/" style="display:none"></div>

    {% block content %}

        <style type="text/css">
            .error {
                text-align: center;
                font-size: 14px;
                color: red;
            }
            .repass {
                border: none;
                width: auto;
            }
            .repass:hover {
                text-decoration: underline;
                background: none;
            }
        </style>

        {% set_keyboard get_tipo_template '#user|#pass' %}

        <div id="login">

            <div id="logo">
                <img src="{{ rede|logo_log:get_tipo_template }}" border="0" />
            </div>

            <form name="login" action="./" enctype="multipart/form-data" method="POST">

                {% csrf_token %}

                <label for="user">Login:</label>
                
                {% if rede.link|lower == 'burgerking' %}
                	<img class="info" src="{{ STATIC_URL }}{{ get_tipo_template }}/images/info.png" border="0" title="<b>Olá, seja bem-vindo à Rede BK!</b><br /><br /><b>Este é seu primeiro acesso?</b><br />Então seu login, é seu número de CPF, apenas os números, sem traços ou pontos, e sua senha é <b>1234</b>.<br /><br />Ao acessar pela primeira vez o portal, você vai atualizar seu cadastro, incluir um e-mail de contato e aletarar sua senha pessoal. É importante que este e-mail seja válido, pois ele é utilizado em casos de recuperação de senha.<br /><br /><b>Caso este não seja seu primeiro acesso</b>, seu login é o e-mail que você cadastrou durante o primeiro acesso.<br /><br />Não lembra da sua senha? Digite seu login, e clique no botão Esqueci minha senha. As informações para recuperação de senha serão enviadas para seu e-mail pessoal em 24 horas." style="position:absolute;right:10px;top:10px;cursor:pointer" />
                {% endif %}
                
                <input type="text" name="user" id="user" />

                {% set_keyboard_buttom get_tipo_template %}

                <label for="pass">Senha:</label>
                <input type="password" name="pass" id="pass" />

                <input type="submit" name="submit" value="Entrar" class="buttom" />
                
                <input class="repass" type="submit" name="repass" value="Esqueci minha senha" />

                <input type="hidden" name="next" value="{{ next }}" />

            </form>

            {% if error %}
                <div class="error">{{ error|default:'Usuário ou senha estão incorretos.' }}</div>
            {% endif %}

        </div>

    {% endblock content %}

    {% block aviso %}

    {% endblock aviso %}

    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/ios-orientationchange-fix.js" type="text/javascript"></script>
    
    <script type="text/javascript">

        $(document).ready(function(){

			$(".info").poshytip({
				className: 'tip-yellowsimple',
				showOn: 'mouseover',
				alignTo: 'target',
				alignX: 'center',
				alignY: 'bottom',
				offsetX: 5
			});

        });

    </script>

</body>

</html>