{% load util keyboard enquete screensaver %}

<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>

    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/no-ie6.css" type="text/css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/osx.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/jquery.modal.css" type="text/css" />

    {% if get_template.rede %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/template/{{ get_template.rede.link }}.css" type="text/css" />
    {% endif %}

    <!-- layouts smaller than 600px, iPhone and mobiles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout-mobile.css" type="text/css" media="handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)" />

    {% if get_template.rede %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/template/{{ get_template.rede.link }}-mobile.css" type="text/css" media="handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)" />
    {% endif %}

    <!-- tablet styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/layout-tablet.css" type="text/css" media="only screen and (min-width: 601px) and (max-width: 970px)" />

    {% if get_template.rede %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ get_tipo_template }}/css/template/{{ get_template.rede.link }}-tablet.css" type="text/css" media="only screen and (min-width: 601px) and (max-width: 970px)" />
    {% endif %}

    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.flexslider-min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.carouFredSel-5.6.1-packed.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.simplemodal.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.modal.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/jquery.lazyload.js?v=1.8.3" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/osx.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/scripts.js" type="text/javascript"></script>

    {% block js %}

    {% endblock js %}

    {% block css %}

    {% endblock css %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta name="HandheldFriendly" content="true" />

    <link href="{{ rede|favicon }}" rel="shortcut icon" type="image/x-icon" />

    <meta name="robots" content="index,follow" />

    <meta name="description" content="Seja bem vindo ao treinamento a distância TCD, www.treinandoequipes.com.br" />
    
    {% get_screensaver rede %}

</head>

<body>

	<div url="{{ base_url }}" class="no-ie6"></div>
	<div class="static_url" media="{{ STATIC_URL }}{{ get_tipo_template }}/" style="display:none"></div>

    {% block account %}
    
    	{% if rede.link|lower == 'carvalho' %}
    		
    		<div class="nops-user-button" style="display: none">&nbsp;</div>
    		
    	{% else %}

	        <div id="account-widget">
	            <a href="#" class="user-account">
		            {% if rede|get_icone:get_tipo_template == '' %}
						<div class="medidor medidor_{{ list_aproveitamento_account|porcent_aproveitamento:user|medidor_porcent:5 }}"></div>
		            {% else %}
		            	<img src="{{ rede|get_icone:get_tipo_template }}" border="0" />
		            {% endif %}
				</a>
	            {% aproveitamento_count_append list_aproveitamento_account user %}
	
	            <div id="account">
	                <div>
	                	{% if not list_menu|filter_menu:'sair' %}
	            			<a href="{% url logout rede.link %}" class="buttom btn_logout">Sair</a>
	            		{% endif %}
	                    <h3>Olá {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username|super_truncatewords:'3-15' }}{% endif %},</h3>
	                    <p>Seu saldo de pontos é: {{ pontos|default:0 }}</p>
	
	                    <span class="line"></span>
	
	                    <h3>Aproveitamento</h3>
	
	                    <div class="certified">
	                        <h5 style="font-weight: normal;font-size: 11px;">
	                        	<a href="#">
			                        <span class="progress-bar {% if list_aproveitamento_account|porcent_aproveitamento:user < 71 %}progress-bar-red{% endif %}"><span style="width: {{ list_aproveitamento_account|porcent_aproveitamento:user }}%;"></span></span>
			                        <span class="progress-text">{{ list_aproveitamento_account|porcent_aproveitamento:user }}% concluído</span>
		                        </a>
	                        </h5>
	                        {% if list_aproveitamento_account %}
		                        <h3 style="font-size: 14px">
		                        	Clique no{{ list_aproveitamento_account|pluralize }} vídeo{{ list_aproveitamento_account|pluralize }} abaixo e aumente seu aproveitamento
		                        </h3>
		                    {% endif %}
	                        <ul class="courses">
	                            {% for laa in list_aproveitamento_account %}
	                            	{% if laa|aproveitamento_append:user %}
	
		                                <li>
		                                    <a href="{% url treinamento rede.link laa.id %}" title="{% aproveitamento_status laa user 1 %}" class="{{ laa|video_relacionado:user }}">
		                                        {% aproveitamento_status laa user %} {{ laa.name|truncatewords:7 }}
		                                    </a>
		                                </li>
	
	                                {% endif %}
	                            {% endfor %}
	                        </ul>
	                    </div>
	
			    {% if rede|is_menu_certificate %}
	
				{% if list_certificado_account %}
	
				    <span class="line"></span>
	
				    <h3>Certificações</h3>
	
				    {% for i in list_certificado_account %}
	
					<div class="certified">
					    <h5><a href="#">{{ i.name }}</a></h5>
					    <span class="progress-bar"><span style="width: {{ i|porcent_certificado:user }}%;"></span></span>
					    <span class="progress-text">{{ i|porcent_certificado:user }}% concluído</span>
					    <ul class="courses">
						{% for t in i|list_treinamento %}
						    <li>
							<a href="{% url treinamento rede.link t.id %}" title="{% if t|get_is_treinamento_check:user %}Teste realizado{% else %}Teste não realizado{% endif %}">
							    <span class="{% if t|get_is_treinamento_check:user %}ok{% else %}pending{% endif %}"></span>{{ t.name|truncatewords:8 }}
							</a>
						    </li>
						{% endfor %}
					    </ul>
					</div>
	
				    {% endfor %}
	
				    <span class="line"></span>
	
				{% else %}
	
				    <span class="line"></span>
	
				    <h3>Não há certificações</h3>
	
				{% endif %}
	
			    {% endif %}
	
	                </div>
	                <span class="arrow"></span>
	            </div>
	        </div>
	        
		{% endif %}

    {% endblock account %}

    {% block enquete %}

	{% if grafico %}
	    {% grafico rede %}
	{% else %}
	    {% enquete rede %}
	{% endif %}

    {% endblock enquete %}

    {% block technical %}

	{% technical rede %}

    {% endblock technical %}

    {% set_keyboard get_tipo_template '.busca' 1 %}

    {% block content %}

    {% endblock content %}

    <div class="clear"></div>

    <div id="footer">
		<div class="container">

			{% if rede.link|lower == 'cencosud' %}
				<p class="copy" style="font-weight: bold">
					Canais de relacionamento
				</p>
		        <p style="font-size: 14px;color: #1F4A79; font-weight: bold">
			        Em caso de dúvidas e/ou problemas técnicos,
			        envie uma mensagem para <a href="mailto:comunicacaointerna@cencosud.com.br" style="color: #1F4A79;">comunicacaointerna@cencosud.com.br</a>
				</p>
			{% endif %}

			{% if rede.link == 'boticario' or rede.link == 'oboticario' %}
	        	<p class="copy">
	        		<a href="http://www.oi.com.br" target="_blank">
	        			<img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/logo_oi.png" border="0" height="40" /> &copy; Copyright 2013</p>
	        		</a>
			{% else %}
	        	<p class="copy">MegaMidia &copy; Copyright 2012</p>
	        {% endif %}

	        <p style="font-size: 11px;">
	        	Os vídeos e conteúdos publicados nesta Plataforma são de uso exclusivo de seus
	        	detentores legais, <br />sendo proibida a venda ou reprodução de qualquer um
	        	dos materiais.
	        </p>

	    </div>
	</div>

    <script src="{{ STATIC_URL }}{{ get_tipo_template }}/js/ios-orientationchange-fix.js" type="text/javascript"></script>

    {% if first %}
	<!-- modal content -->
	    <div id="osx-modal-content">
		    <div class="popup">
			    <h3>Bem-vindo ao Portal de Vídeos.</h3>
				<p>Este é seu primeiro acesso e os seus dados precisam ser preenchidos antes de utilizá-lo.</p>
				<p>Após o cadastro realizado, os demais acessos já estarão liberados.</p>
				<input onclick="window.location='{% url conta_edit rede.link %}?edit=first';" type="button" class="botao-popup" />
		    </div>
	    </div>
    {% endif %}

    {% if first_cpf %}
	<!-- modal content -->
	    <div id="osx-modal-content">
		    <div class="popup">
			    <h3>Você logou usando seu CPF e sua senha padrão.</h3>
				<p>Favor preencher o campo E-mail, a partir deste momento seu login não será mais o seu CPF mas sim o E-mail que você adicionar.</p>
			    <p>Importante mencionar que, se depois você trocar seu e-mail, o login permanecerá com seu e-mail antigo.</p>
			    <input onclick="$('#osx-container, #osx-overlay').remove();" type="button" class="botao-popup" />
		    </div>
	    </div>
    {% endif %}

	{% block aviso %}
    	{% get_aviso rede user %}
    {% endblock aviso %}

</body>

</html>
