{% extends 'mega/main.html' %}

{% load util keyboard %}

{% block content %}

    <div id="header">
        <div class="container">
            <div id="logo"><a href="{% url home %}{{ rede.link }}/"><img src="{{ rede|logo }}" border="0" /></a></div>
            <div id="header-text">{% for i in list_menu %}{% if i.tipo == 'D' %}{{ i.name|safe }}{% endif %}{% endfor %}</div>

            {% for i in list_menu %}
                {% if i.tipo == 'S' %}
                    <div id="search">
                        <form method="get" id="search-form" action="{% url busca rede.link %}">
                            <div class="form-item">
                                <input type="text" value="{{ q|default:'' }}" name="q" class="busca" />
                                {% set_keyboard_buttom get_tipo_template 'top:10px; right:36px;' %}
                                <button id="search-submit">
                                    <span>Buscar</span>
                                </button>
                            </div>
                        </form>
                        {% if rede.link|lower == 'carvalho' %}
                        	<span class="sub_pesquisa">Pesquisa de Produtos</span>
                        {% else %}
                        	<span class="sub_pesquisa">Pesquisa de vídeos</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <div id="menu">
                <div class="user-button">
		    		{% aproveitamento_count_append list_aproveitamento_account user %}
                </div>
				{% if grafico or enquete %}
				    <div class="enquete">
					{% if enquete %}
					    <span class="jewelCount"><span>1</span></span>
					{% endif %}
				    </div>
				{% endif %}
				{% if technical %}
				    <div class="technical" {% if not grafico and not enquete %}style="left: 38px;"{% endif %}></div>
				{% endif %}
                <div class="menu-button">MENU</div>
                {% if list_menu|tipobusca %}<div class="search-button"></div>{% endif %}
                <ul>
                    {% for i in list_menu %}
                        {% if i.tipo == 'B' %}
                        	{% if i.name|lower == 'sair' %}
                            	<li><a class="btn_logout" href="{% url home %}{{ rede.link }}/{{ i.url }}">{{ i.name|upper }}</a></li>
                            {% else %}
                            	<li><a href="{% url home %}{{ rede.link }}/{{ i.url }}">{{ i.name|upper }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if list_banner.count > 0 %}
        <div id="highlights">
            <div class="container">
                <div class="full-banner">
                    <div class="flexslider">
                        <ul class="slides">
                            {% for i in list_banner %}
                                <li>
                                    {% if i.url %}<a href="{{ i.url }}" title="Clique aqui para acessar o link" {% if i.blank %}target="_blank"{% endif %}>{% endif %}
                                    <img src="{{ i|get_image }}" border="0" />
                                    {% if i.url %}</a>{% endif %}
                                    {% if i.legend %}
                                    <p class="flex-caption">{{ i.name }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block bloco %}

        <div id="content">
            <div class="container">

                {% if list_video %}
                    <div class="path">
                        {% sub_menu_treinamento list_video rede %}
                    </div>
                {% endif %}

                <div class="bar">{{ list_video.0.name }}</div>

                <div class="video">
                    <div class="player path">

                        {% ifequal list_video.0.tipo 'B' %}
                            {% brightcove rede.link list_video.0.code list_video.0.id %}
                        {% endifequal %}

                        {% ifequal list_video.0.tipo 'K' %}
                            {% kaltura rede.link list_video.0.code list_video.0.id %}
                        {% endifequal %}

                        {% ifequal list_video.0.tipo 'M' %}
                        	{% if rede.link == 'boticario' or rede.link == 'oboticario' %}
                            	{% megavideo rede.link list_video.0.code list_video.0.id 640 360 'mega/images/logo_oi.png' 'http://www.oi.com.br' %}
							{% else %}
                            	{% megavideo rede.link list_video.0.code list_video.0.id %}
                            {% endif %}
                        {% endifequal %}

                    </div>
                    <div class="description">
                        <div>
                            <h2 class="box-title">{{ list_video.0.name }}</h2>
                            <p>{{ list_video.0.desc|safe }}</p>
                            {% if list_video.0.time %}
                                <p>Duração: {{ list_video.0.time }}</p>
                            {% endif %}
                            <br />
                            {% if elearning %}
                                <a class="buttom btn_overlay" action="{% url elearning rede.link list_video.0.id %}" href="javascript:void(0);" title="Assista o vídeo até o fim">IR PARA O E-LEARNING</a>
                            {% else %}
	                            {% if list_video.0|is_question:user  %}
	                                <a class="buttom btn_overlay" action="{% url questionario rede.link list_video.0.id %}" href="javascript:void(0);" title="Assista o vídeo até o fim">IR PARA O TESTE</a>
	                            {% endif %}
                            {% endif %}

                            {% if rede.is_suggestion %}

	                            <!-- inicio do envio de sugestoes -->
			                    <a id="show-sugestao" href="#">
			                    	<img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/duvidas.png" border="0" style="max-width: 80%;" />
			                    </a>

			                    <textarea id="sugestao" style="width:100%; height:70px; resize:none; margin-bottom:10px;display: none"></textarea>

			                    <a id="envia-sugestao" class="buttom3" href="#" style="display: none" >ENVIAR</a>
			                    <p id="mensagem" style="display:none;"></p>

			                    <script type="text/javascript">
									$(function() {
										var msgVazia = "Digite aqui sua dúvida ou sugestão";
										var enviaSugestao = function(e){
											e.preventDefault();
											if($('#sugestao').val() != "" && $('#sugestao').val() != msgVazia)
											{
												$(e.target).hide();
												$('#mensagem').html("Enviando...").fadeIn();
												$('#sugestao').attr('disabled', 'disabled');

												$.post('{% url suggestion rede.link list_video.0.id %}', { mensagem: $('#sugestao').val(), csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data){
													$('#mensagem').html(data);
												});
											}
											else
											{
												$('#sugestao').val(msgVazia).focus();;
											}
										};

										$('#sugestao').hide();
										$('#envia-sugestao').hide().bind('click', enviaSugestao);

										$('#show-sugestao').attr('style', 'display: table;').click(function(e){
											e.preventDefault();
											$(this).hide();

											$('#sugestao').fadeIn().focus();
											$('#envia-sugestao').fadeIn();
										});
									});
								</script>
			                    <!-- inicio do envio de sugestoes -->

			                {% endif %}

                        </div>
                        {% if list_anexo %}
	                        <div class="anexo" value="false">
	                        	<span class="icon" onclick="open_anexo(this);">
	                        		<b class="close">Clique ao lado para realizar download do material</b>
	                        		<b class="open">Clique nos links abaixo para realizar download</b>
	                        	</span>
	                        	<ul>
	                        		{% for la in list_anexo %}
		                        		<li class="path">
		                        			<a title="{{ la.desc }}" href="{% url download_anexo rede.link la.id %}" target="_blank">{{ forloop.counter }}. {{ la.name }}</a>
		                        		</li>
	                        		{% endfor %}
	                        	</ul>
	                        </div>
                        {% endif %}
                    </div>
                </div>

                {% faq list_video.0 %}

                {% videos_relacionados list_video rede user %}

            </div>
        </div>

    {% endblock bloco %}

{% endblock content %}