{% extends 'uninter/main.html' %}

{% load util keyboard %}

{% block content %}

    {% block bloco %}

        <div id="content">
            <div class="container">
            	<div class="bar"><span>Meus pontos</span></div>
		        <div class="wrap">
		        	<h3><b>{{ pontos|default:0 }}</b> pontos</h3>
		        	
		        	{% if list_treinamento %}
		        	
			            <table>
			            	<thead>
			                    <tr>
			                        <th>Data</th>
			                        <th>Treinamento</th>
			                        <th>Pontos</th>
			                    </tr>
			                </thead>
			                <tbody>
			                	{% for i in list_treinamento %}
	                                <tr>
	                                    <td>{{ i|datetreinamento:user|date:'d/m/Y à\s H:i' }}</td>
	                                    <td>{{ i.name }}</td>
	                                    <td>{{ i|pontostreinamento:user }}</td>
	                                </tr>
	                            {% endfor %}
			                </tbody>
			            </table>
		            
					{% else %}

                        <p>Nenhum registro encontrado!</p>

                    {% endif %}

                    <a class="buttom" style="display: none;" target="_blank" href="http://www.multiplusfidelidade.com.br/?key=U54FS25415" >Trocar meus pontos</a>

                    {% if sucesso %}
                        <div class="wrap">
                            <img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/success.png" border="0" />
                            <h3>Seus pontos foram enviados para seu email com sucesso.</h3>
                        </div>
                    {% else %}
                    	<div class="center">
                      		<a class="buttom" href="{% url conta rede.link %}?sucesso={% if list_treinamento.count > 0 %}true{% endif %}" >Enviar meus pontos por e-mail</a>
                        </div>
                    {% endif %}

				</div>
                    
                <div class="bar"><span>Meus dados</span></div>

                {% if edit %}
                    <div class="wrap">
                        <img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/success.png" border="0" />
                        <h3>Cadastro salvo com sucesso.</h3>
                    </div>
                {% endif %}
                
                <div class="wrap">
                	
                	<p><b>Nome:       			</b>{{ user.get_full_name }}</p>
	                <p><b>CPF:        			</b>{% if infouser.cpf %}{{ infouser.cpf }}{% endif %}</p>
	                <p><b>E-mail:     			</b>{{ user.email }}</p>
	                <p><b>Endereço: 			</b>{% if infouser.endereco %}{{ infouser.endereco }}{% endif %}</p>
	                <p><b>Bairro: 				</b>{% if infouser.bairro %}{{ infouser.bairro }}{% endif %}</p>
	                <p><b>CEP: 				    </b>{% if infouser.cep %}{{ infouser.cep }}{% endif %}</p>
	                <p><b>Estado: 			    </b>{% if infouser.estado %}{{ infouser.estado }}{% endif %}</p>
	                <p><b>Cidade:				</b>{% if infouser.cidade %}{{ infouser.cidade }}{% endif %}</p>
	                <p><b>Telefone Comercial: 	</b>{% if infouser.fone_com %}{{ infouser.fone_com }}{% endif %}</p>
	                <p><b>Telefone Celular: 	</b>{% if infouser.fone_cel %}{{ infouser.fone_cel }}{% endif %}</p>

					<div class="center">
	               		<a class="buttom" href="{% url home %}{{ rede.link }}/conta/edit/" >Editar conta</a>
	                </div>

                </div>

            </div>
        </div>

    {% endblock bloco %}

{% endblock content %}