{% extends 'uninter/main.html' %}

{% load util keyboard %}

{% block content %}

    {% if list_banner.count > 0 %}
        <div id="highlights">
            <div class="container">
                <div class="full-banner">
                    <div class="flexslider">
                        <ul class="slides">
                            {% for i in list_banner %}
                                <li>
                                    {% if i.url %}<a href="{{ i.url }}" title="Clique aqui para acessar o link" {% if i.blank %}target="_blank"{% endif %}>{% endif %}
                                    <img src="{{ i|get_image }}" border="0" />
                                    {% if i.url %}</a>{% endif %}
                                    {% if i.legend %}
                                    <p class="flex-caption">{{ i.name }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block bloco %}

        <div id="content">
            <div class="container">

                {% if list_video %}
                    <div class="path">
                        {% sub_menu_treinamento list_video rede %}
                    </div>
                {% endif %}

                <div class="bar"><span>{{ list_video.0.name }}</span></div>

                <div class="video">
                	
                    <div class="playerlive">

                        {% live rede.link get_tipo_template list_video.0.code list_video.0 get_mobile %}

                    </div>
                    
                    <div class="descriptionlive">
                    	
                    	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}webchat/main.css" />

						<script type="text/javascript" src="{{ STATIC_URL }}webchat/main.js"></script>

                        <div class="ocultos" load="/{{ rede.link }}/live/load/{{ list_video.0.id }}/">
                        	<div class="msg conteiner">
	                            <ul><li class="welcome">Seja bem vindo {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %} {% if history %}</li><br /><a class="history" href="javascript:void(0);">Há mensagens anteriores, para ver clique aqui</a>{% endif %} </ul>
                            </div>
	       					<div class="input conteiner">
	       						Digite aqui a sua mensagem
	       						<br />
	       						<textarea name="txt_msg" onclick="get_msg(this);" onselect="get_msg(this);" onblur="get_msg_onblur(this);" onkeypress="set_msg(event, this);"></textarea>
							</div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
        </div>

    {% endblock bloco %}

{% endblock content %}