<div class="yt-alert yt-alert-warn">
    <span class="icon"></span>
    <div class="yt-alert-content">
        <div id="browser-upgrade-box">
            <p class="upgrade-message">
                <strong>Ei, você, isso não é uma interrupção comercial. Você está usando um navegador desatualizado, ao qual o site não oferece suporte. Alguns recursos do site podem não funcionar.
                    <br /><br />
                    Atualize para um navegador moderno. Aqui estão algumas opções:
                </strong>
            </p>
            <p class="browser-links">
                <a href="http://www.mozilla.com/?from=sfx&amp;uid=267821&amp;t=449" class="browser-link">
					<span class="firefox-link"></span>
				</a>
				<a href="http://www.google.com/chrome/index.html?brand=CHNY&amp;utm_campaign=en&amp;utm_source=en-et-youtube&amp;utm_medium=et" class="browser-link">
					<span class="chrome-link"></span>
				</a>
				<a href="http://www.apple.com/safari/" class="browser-link">
					<span class="safari-link"></span>
				</a>
				<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" class="browser-link">
					<span class="ie8-link"></span>
				</a>
				<a href="http://www.opera.com/browser/" class="browser-link">
					<span class="opera-link"></span>
				</a>
            </p>
        </div>
    </div>
</div>