<html>
	<head>
		<link href="/staticrecord/css/bigrec.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>
		<div class='divbody'>
			<div class='header'>
			</div>
			<object id="globalnav-object" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="800" height="570" >
				<param name="movie" value="/staticrecord/flash/rec.swf?{{ recparams }}" />
				<param name="menu" value="false" />
				<param name="quality" value="high" />
				<param name="wmode" value="transparent" />
				<param name="allowFullScreen" value="true" />
				<param name="FlashVars" value="" />
				<embed src="/staticrecord/flash/rec_natal.swf?{{ recparams }}" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="" menu="false" quality="high" id="player_flash" width="800" height="570"></embed>
			</object>
		</div>
	</body>
</html>

