[Desktop Entry]
Name=Kiosk (No effects)
Comment=Modo Kiosk
Exec=/usr/bin/firefox http://localhost/loading.html -width 1024 -height 600
Type=Application