{% extends 'diasupermercado/main.html' %}

{% load util keyboard %}

{% block content %}

    <div id="header">
        <div class="container">
            <div id="logo"><a href="{% url home %}{{ rede.link }}/"><img src="{{ rede|logo }}" border="0" /></a></div>
            <div id="header-text">{% for i in list_menu %}{% if i.tipo == 'D' %}{{ i.name|safe }}{% endif %}{% endfor %}</div>

            {% for i in list_menu %}
                {% if i.tipo == 'S' %}
                    <div id="search">
                        <form method="get" id="search-form" action="{% url busca rede.link %}">
                            <div class="form-item">
                                <input type="text" value="{{ q|default:'' }}" name="q" class="busca" />
                                {% set_keyboard_buttom get_tipo_template 'top:10px; right:36px;' %}
                                <button id="search-submit">
                                    <span>Buscar</span>
                                </button>
                            </div>
                        </form>
                        <span class="sub_pesquisa">Pesquisa de vídeos</span>
                    </div>
                {% endif %}
            {% endfor %}

            <div id="menu">
                <div class="user-button">
                	{% aproveitamento_count_append list_aproveitamento_account user %}
                </div>
                <div class="menu-button">MENU</div>
                {% if list_menu|tipobusca %}<div class="search-button"></div>{% endif %}
                <ul>
                    {% for i in list_menu %}
                        {% if i.tipo == 'B' %}
                        	{% if i.name|lower == 'sair' %}
                            	<li><a class="btn_logout" href="{% url home %}{{ rede.link }}/{{ i.url }}"><span>{{ i.name|upper }}</span></a></li>
                            {% else %}
                            	<li><a href="{% url home %}{{ rede.link }}/{{ i.url }}"><span>{{ i.name|upper }}</span></a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <div class="header-bg"></div>
            
        </div>
    </div>

    {% block bloco %}

        <div id="content">
            <div class="container">
                <div class="bar">Meus pontos</div>
                <div class="wrap">
                    <h3><b>{{ pontos|default:0 }}</b> pontos</h3>

                    {% if list_treinamento %}

                        <table>
			            	<thead>
			                    <tr>
			                        <th>Data</th>
			                        <th>Treinamento</th>
			                        <th>Pontos</th>
			                    </tr>
			                </thead>
			                <tbody>
			                	{% for i in list_treinamento %}
	                                <tr>
	                                    <td>{{ i|datetreinamento:user|date:'d/m/Y à\s H:i' }}</td>
	                                    <td>{{ i.name }}</td>
	                                    <td>{{ i|pontostreinamento:user }}</td>
	                                </tr>
	                            {% endfor %}
			                </tbody>
			            </table>

                    {% else %}

                        <p>Nenhum registro encontrado!</p>

                    {% endif %}

                    <a class="buttom" style="display: none;" target="_blank" href="http://www.multiplusfidelidade.com.br/?key=U54FS25415" >Trocar meus pontos</a>

                    {% if sucesso %}
                        <div class="wrap">
                            <img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/success.png" border="0" />
                            <h3>Seus pontos foram enviados para seu email com sucesso.</h3>
                        </div>
                    {% else %}
                        <a class="buttom" href="{% url conta rede.link %}?sucesso={% if list_treinamento.count > 0 %}true{% endif %}" >Enviar meus pontos por e-mail</a>
                    {% endif %}
                    
               </div>
               <div class="bar">Meus dados</div>
               <div class="wrap">

	                {% if edit %}
	                    <div class="wrap">
	                        <img src="{{ STATIC_URL }}{{ get_tipo_template }}/images/success.png" border="0" />
	                        <h3>Cadastro salvo com sucesso.</h3>
	                    </div>
	                {% endif %}
	
	                <p><b>Nome:       			</b>{{ user.get_full_name }}</p>
	                <p><b>CNPJ:        			</b>{{ infouser.cnpj }}</p>
	                <p><b>Franquia:   			</b>{{ infouser.filial|default:'(Geral)' }}</p>
	                <p><b>E-mail:     			</b>{{ user.email }}</p>
	                <p><b>Endereço Comercial:	</b>{{ infouser.endereco }}</p>
	                <p><b>Telefone Comercial: 	</b>{{ infouser.fone_com }}</p>
	                <p><b>Telefone Residencial: </b>{{ infouser.fone_res }}</p>
	                <p><b>Telefone Celular: 	</b>{{ infouser.fone_cel }}</p>
	                <p><b style="font-size: 12px;">Aceito receber mensagens gratuitas pelo celular: 	
	                	</b>{{ infouser.receber|humanizeboolean }}</p>
	                <p><b style="font-size: 12px;">Aceito receber e-mail: 				
	                	</b>{{ infouser.envia|humanizeboolean }}</p>
	                	
	                <a class="buttom" href="{% url home %}{{ rede.link }}/conta/edit/" >Editar conta</a>

                </div>

            </div>
        </div>

    {% endblock bloco %}

{% endblock content %}