<h2> Uploading videos </h2>
<object id="globalnav-object" height="500" width="750" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param value="{{STATIC_URL}}/static/swf/upload.swf" name="movie"/>
<param value="" name="FlashVars"/>
<param value="tranparent" name="wmode"/>
<embed id="" height="500" width="750" quality="high" menu="false" flashvars="" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"  src="{{STATIC_URL}}/static/swf/upload.swf" wmode="transparent"/>
</object>
