{% extends 'manager/main.html' %}

{% block extra_header %}
	<script type="text/javascript" src='/megavideo/static/manager/js/swfobject1.5.js'></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/live.js"></script>
    <script type="text/javascript" src='/megavideo/static/manager/js/form_chat.js'></script>
{% endblock %}

{% block content %}
		<div id="center">
			<div id="campos_login">
					<input type="text" name='nickname' id='nickname' maxlength="10"/>
					<input type="hidden" name="color" value="#000000" />
					
					
					<div id="quad_colors">
						<a href="javascript:void(0);" title="Preto" onclick="set_color('#000000', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_preto.png" border="0" />
						</a>
						<a href="javascript:void(0);" title="Marrom" onclick="set_color('#5f5f5f', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_marrom.png" border="0" />
						</a>
						<a href="javascript:void(0);" title="Azul Escuro" onclick="set_color('#3a5364', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_azulescuro.png" border="0" />
						</a>
						<a href="javascript:void(0);" title="Azul Claro" onclick="set_color('#5d8ba6', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_azulclaro.png" border="0" />
						</a>
						<a href="javascript:void(0);" title="Verde Escuro" onclick="set_color('#485d09', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_verdeescuro.png" border="0" />
						</a>
						<a href="javascript:void(0);" title="Verde Claro" onclick="set_color('#7b9b19', this);">
							<img src="{{STATIC_URL}}/static/webchat/images/set_verdeclaro.png" border="0" />
						</a>
					</div>
                	<input type="image" src="{{STATIC_URL}}/static/webchat/images/bt_login.png" name="entrar" id="nickname_ajax" value="Entrar" onclick="set_login_buttom('#nickname');" />
          	</div> 
          			<div id='name_ajax'></div>
          </div>
          <div style="clear:both;" />               

{% endblock content %}