{% extends 'admin/change_list.html' %}

{% load i18n relatorio %}

{% block breadcrumbs %}

    <div class="breadcrumbs"><a href="/admin/">{% trans 'Home' %}</a>{% if title %} &rsaquo; Relatório de Número de Treinamentos e Alunos Cadastrados{% endif %}</div>

{% endblock breadcrumbs %}

{% block content_title %}{% endblock content_title %}

{% block content %}

    <script src="{{ STATIC_URL_TCD }}{{ get_tipo_template|default:'mega' }}/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL_TCD }}{{ get_tipo_template|default:'mega' }}/js/select_admin.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL_TCD }}{{ get_tipo_template|default:'mega' }}/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>

    <h1>Lista de Relatório de Número de Treinamentos e Alunos Cadastrados</h1>

    <div id="content-main">

        <div id="changelist" class="module filtered">
        	
        	<div id="toolbar">
        		<form method="get" action="" id="changelist-search">
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar">
							<img alt="Search" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon_searchbox.png" border="0" />
						</label>
						<input type="text" id="searchbar" value="{{ q|default:'' }}" name="q" size="40" />
						Periodo de:
						<input type="text" class="date" id="txt_de" value="{{ de }}" name="de" size="8" />
						até:
						<input type="text" class="date" id="txt_ate" value="{{ ate }}" name="ate" size="8" />
						<input type="submit" value="Pesquisar" />
					</div>
				</form>
				<script type="text/javascript">
					$("#searchbar").focus();
            		$(".date").mask("99/99/9999");
				</script>
			</div>

            <div id="changelist-filter">
                <h2>Filtro</h2>

				{% if list_filial %}
	                <h3>Por Filial</h3>
	                <ul>
	                    <li class="{% if not filial__exact %}selected{% endif %}">
	                        <a href="?">Todos</a>
	                    </li>
	                    <li class="{% if filial__exact == 'null' %}selected{% endif %}">
	                        <a href="?filial__exact=null&q={{ q }}&de={{ de }}&ate={{ ate }}">(nenhum)</a>
	                    </li>
	                    {% for i in list_filial %}
	                        <li class="{% if filial__exact == i.id|safe %}selected{% endif %}">
	                            <a href="?filial__exact={{ i.id }}&q={{ q }}&de={{ de }}&ate={{ ate }}">{{ i.name }}</a>
	                        </li>
	                    {% endfor %}
	                </ul>
                {% endif %}

                <h3>Por Habilitado</h3>
                <ul>
                    <li class="{% if not visible__exact %}selected{% endif %}">
                        <a href="?">Todos</a>
                    </li>
                    <li class="{% if visible__exact == '1' %}selected{% endif %}">
                        <a href="?visible__exact=1&q={{ q }}&de={{ de }}&ate={{ ate }}">Sim</a>
                    </li>
                    <li class="{% if visible__exact == '0' %}selected{% endif %}">
                        <a href="?visible__exact=0&q={{ q }}&de={{ de }}&ate={{ ate }}">Não</a>
                    </li>
                </ul>

            </div>

            <form method="post" action="./" id="changelist-form">

                {% csrf_token %}

                <div class="actions">

                    <label>
                        Ação:
                        <select name="action">
                            <option selected="selected" value="">---------</option>
                            <option value="export_selected">Exportar os Treinamentos Cadastrados</option>
                        </select>
                    </label>

                    <button value="0" name="index" title="Executar ação selecionada" class="button" type="button">Ir</button>

                    <script type="text/javascript">var _actions_icnt="{{ result_list.count }}";</script>

                    <span class="action-counter" style="display: inline;">0 de {{ result_list.count }} selecionados</span>

                </div>

                <div class="results">
                    <table cellspacing="0" id="result_list">
                        <tr>
                            <th class="action-checkbox-column" scope="col">
                                <input type="checkbox" id="action-toggle" style="display: inline;">
                            </th>
                            <th scope="col">
                                <a href="?ot=asc&amp;o=name&q={{ q }}&de={{ de }}&ate={{ ate }}">
                                    Rede
                                </a>
                            </th>
                            <th scope="col">
                                Nº Usuários
                            </th>
                            <th scope="col">
                                Nº Treinamentos
                            </th>
                            {% if not user.infouser.filial %}
	                            <th scope="col">
	                                Filiais
	                            </th>
                            {% endif %}
                            <th scope="col">
                                <a href="?ot=asc&amp;o=-date&q={{ q }}&de={{ de }}&ate={{ ate }}">
                                    Data de criação da Rede
                                </a>
                            </th>
                            <th scope="col">
                            	Último Acesso
                            </th>
                            <th class="sorted ascending" scope="col">
                                <a href="?ot=asc&amp;o=visible&q={{ q }}&de={{ de }}&ate={{ ate }}">
                                    Habilitado
                                </a>
                            </th>
                        </tr>

                        {% for i in result_list %}

                            <tr class="row1">
                                <td class="action-checkbox" style="text-align: left;">
                                    <input type="checkbox" name="_selected_action" value="{{ i.id }}" class="action-select">
                                </td>
                                <td>
                                    <a href="/admin/auth/user/{{ i.id }}/">{{ i.name }}</a>
                                </td>
                                <td class="nowrap">{{ i|count_aluno:user }}</td>
                                <td class="nowrap">{{ i|count_treinamento:user }}</td>
                                {% if not user.infouser.filial %}
                                	<td class="nowrap">{{ i|list_filial|safe }}</td>
                                {% endif %}
                                <td>{{ i.date|date:'d/m/Y à\s H:i' }}</td>
                                <td>{{ i|date_last_user_access:user }}</td>
                                <td>
                                    {% if i.visible %}
                                        <img alt="Sim" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-yes.gif" border="0" />
                                    {% else %}
                                        <img alt="Não" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-no.gif" border="0" />
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}

                    </table>
                </div>

                <p class="paginator">{{ result_list.count }} Aluno{{ result_list.count|pluralize }} Cadastrado{{ result_list.count|pluralize }}</p>
                
                <input type="hidden" name="o" value="{{ o }}" />
                <input type="hidden" name="ot" value="{{ ot }}" />
                <input type="hidden" name="rede__exact" value="{{ rede__exact }}" />
                <input type="hidden" name="filial__exact" value="{{ filial__exact }}" />
                <input type="hidden" name="visible__exact" value="{{ visible__exact }}" />
                <input type="hidden" name="q" value="{{ q }}" />
                <input type="hidden" name="de" value="{{ de }}" />
                <input type="hidden" name="ate" value="{{ ate }}" />

            </form>
        </div>
    </div>

    <br class="clear" />

{% endblock %}