/* template do agiplan tablet */

#header #menu {background-color: #315180;}#header #menu ul li a {color: #e6e6e6;background-color: #315180;}#header #menu ul li a:hover {color: #ffffff;background-color: #cf3439;}