/* template do alphagraphics tablet */

#header #menu {background-color: #333333;}#header #menu ul li a {color: #ed362d;background-color: #333333;}#header #menu ul li a:hover {color: #cccccc;background-color: #000000;}