/* template do assai tablet */

#header #menu {background-color: #06418e;}#header #menu ul li a {color: #ffffff;background-color: #06418e;}#header #menu ul li a:hover {color: #e95014;background-color: #06418e;}