/* template do burgerking tablet */

#header #menu {background-color: #c27121;border: 1px solid #c27121;}#header #menu ul li a {color: #ffffff;background-color: #c27121;}#header #menu ul li a:hover {color: #ffffff;background-color: #ab4613;}