/* template do Cencosud tablet */

#header #menu {background-color: #f5821e;}#header #menu ul li a {color: #ffffff;background-color: #f5821e;}#header #menu ul li a:hover {color: #ffffff;background-color: #007dc5;}