/* template do centauro tablet */

#header #menu {background-color: #c4151b;}#header #menu ul li a {color: #ffffff;background-color: #c4151b;}#header #menu ul li a:hover {color: #080808;background-color: #c97d80;}