/* template do colombo tablet */

#header #menu {background-color: #8b8a8a;}#header #menu ul li a {color: #ffffff;background-color: #8b8a8a;}#header #menu ul li a:hover {color: #ffffff;background-color: #f5831f;}