/* template do diasupermercado tablet */

#header #menu {background-color: #d90711;}#header #menu ul li a {color: #ffffff;background-color: #d90711;}#header #menu ul li a:hover {color: #ffffff;background-color: #d90711;}