/* template do fae tablet */

#header #menu {background-color: #686869;}#header #menu ul li a {color: #d7d7d7;background-color: #686869;}#header #menu ul li a:hover {color: #f0d820;background-color: #212120;}