/* template do gbarbosa tablet */

#header #menu {background-color: #ffbf00;}#header #menu ul li a {color: #a40000;background-color: #ffbf00;}#header #menu ul li a:hover {color: #a40000;background-color: #fae5b4;}