/* template do kavo tablet */

#header #menu {background-color: #00406d;}#header #menu ul li a {color: #d2d2d2;background-color: #00406d;}#header #menu ul li a:hover {color: #00406d;background-color: #d2d2d2;}