/* template do mcdonalds tablet */

#header #menu {background-color: #edd221;}#header #menu ul li a {color: #9e1313;background-color: #edd221;}#header #menu ul li a:hover {color: #9e1313;background-color: #dec000;}