/* template do megamidia tablet */

#header #menu {background-color: #c5161b;}#header #menu ul li a {color: #ffffff;background-color: #c5161b;}#header #menu ul li a:hover {color: #ffffff;background-color: #c9888c;}