/* template do oticascarol tablet */

#header #menu {background-color: #1b3e6e;}#header #menu ul li a {color: #fdb713;background-color: #1b3e6e;}#header #menu ul li a:hover {color: #fdb713;background-color: #4e6582;}