/* template do pbkids tablet */

#header #menu {background-color: #1da9e0;}#header #menu ul li a {color: #ffffff;background-color: #1da9e0;}#header #menu ul li a:hover {color: #ffffff;background-color: #f88f1e;}