/* template do redesmart tablet */

#header #menu {background-color: #bfbfbf;}#header #menu ul li a {color: #000000;background-color: #bfbfbf;}#header #menu ul li a:hover {color: #ea0000;background-color: #cfcfcf;}