/* template do tcd tablet */

#header #menu {background-color: #0d3e51;border: 1px solid #305a73;}#header #menu ul li a {color: #ffffff;background-color: #0d3e51;}#header #menu ul li a:hover {color: #ffffff;background-color: #154e65;}