/* template do unicopel tablet */

#header #menu {background-color: #e36825;}#header #menu ul li a {color: #000000;background-color: #e36825;}#header #menu ul li a:hover {color: #e36825;background-color: #000000;}