/* template do uninter tablet */

#header #menu {background-color: #ffffff;}#header #menu ul li a {color: #ffffff;background-color: #ffffff;}#header #menu ul li a:hover {color: #ffffff;background-color: #ffffff;}