@font-face{font-family:'vagroundedStdBold';src:url('../css/font/vagroundedstd-bold-webfont.eot');
src:url('../css/font/vagroundedstd-bold-webfont.eot?#iefix') format('embedded-opentype'), 
url('../css/font/vagroundedstd-bold-webfont.woff') format('woff'), 
url('../css/font/vagroundedstd-bold-webfont.ttf') format('truetype'), 
url('../css/font/vagroundedstd-bold-webfont.svg#vagroundedStdBold') format('svg');
font-weight:normal;font-style:normal;}
@font-face{font-family:'vagroundedStdLight';src:url('../css/font/vagroundedstd-light-webfont.eot');
src:url('../css/font/vagroundedstd-light-webfont.eot?#iefix') format('embedded-opentype'), 
url('../css/font/vagroundedstd-light-webfont.woff') format('woff'), 
url('../css/font/vagroundedstd-light-webfont.ttf') format('truetype'), 
url('../css/font/vagroundedstd-light-webfont.svg#vagroundedStdLight') format('svg');font-weight:normal;font-style:normal;}
* {margin:0;padding:0}
body {font-size: 62.5%; font-family:'vagroundedStdLight',Arial,Verdana,sans-serif; color:#666; background:#e1e1e1 url("../images/bg.png") center top;}
ul {list-style:none;}
a{text-decoration:none;color:#666;}
img, embed, object, video {max-width: 100%; border:0;}
h3{color:#D33124; font-size:2em; margin-bottom:5px;font-family:'vagroundedStdBold';}
h4{color:#D33124; font-size:1.5em; font-weight:bold;margin-bottom:5px;}
h5{font-size:1.6em; font-weight:bold;}
p{font-size:1.6em; margin-bottom:10px;}
.clear {clear:both !important;}
.container {width:970px; margin:0 auto; position:relative;}
.vagroundedStdBold {font-family:'vagroundedStdBold';}
.vagroundedStdLight {font-family:'vagroundedStdLight';}

.box-title{color:#D33124; font-size:1.6em;margin-bottom:5px;}
.buttom,.buttom2{padding:7px 20px 6px; color:#FFF; display:inline-block;background-color:#D33124;font-size:1.2em; font-weight:bold; text-align:center; border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; margin:0 10px 10px 0; cursor:pointer;}
.buttom:hover,.buttom2:hover{background-color:#d78000;}
.full-banner{margin-bottom:26px;}
.path{margin:0 0 10px 0; font-size:1.5em; color:#666666;}
.path a{color:#666666;}
.path a:hover{text-decoration:underline;}
.path .spacer{margin:0 1px;}
.path .back{color:#FFF;background:#D33124; padding:4px 10px 2px 5px; margin-right:10px; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.path .back:hover{text-decoration:none;}
.path .back span{font-size:22px; margin-right:2px;}
.line{display:block; height:1px;border-bottom:1px solid #ffffff; background-color:#D6D6D6; margin-bottom:5px;}
.pending{display:inline-block; width:12px; height:12px;background:url("../images/icon-pending.png") no-repeat scroll center center; margin-right:5px;}
.ok{display:inline-block; width:12px; height:12px;background:url("../images/icon-ok.png") no-repeat scroll center center; margin-right:5px;}

#header {font-size:2em;none; position:relative; padding:0;}
#header #logo {padding:0 0 0 5px; }
#header #logo img {}
#header #header-text {position:absolute; top:18px; right:25%; text-align:right; margin:2px 35px 0 0; color:#666666; font-family:'vagroundedStdBold'; font-size:1.6em;}
#header #search{position:absolute; width:25%; top:24px; right:5px;}
#header #search form{position:relative;}
#header #search input{height:30px; width:100%; padding:0 10px; margin-left:-20px; position:absolute; left:0; top:0; border:0;-webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius:6px;}
#header #search button{height:30px; width:30px; padding:0 10px; background:url("../images/icon-search.png") no-repeat scroll center center #D33124;
border:0; position:absolute; right:-1px; display:block; top:0;-webkit-border-radius:0 6px 6px 0;-moz-border-radius:0 6px 6px 0; border-radius:0 6px 6px 0;
cursor:pointer;}
#header #search > span{position: absolute; top:34px; left:-10px; font-size:0.8em;}
#header #search button span{display:none;}
#header #menu {	color:#FFF;position: absolute;bottom:0px;right:5px;}
#header #menu .menu-button{display:none; padding:5px 0; font-size:1em;}
#header #menu ul {margin:0;}
#header #menu ul li{display:inline;}
#header #menu ul li a{padding: 10px 15px 40px 10px;text-decoration:none; font-size:.7em; color:#FFF; float:left;
background: transparent url('../images/botao_d.png') no-repeat top right;
font-family:'vagroundedStdBold';}
#header #menu ul li a span{background: transparent url('../images/botao_e.png') no-repeat top left;margin: 0;
	padding: 10px 0 40px 15px;}
#header #menu ul li a:hover{background-position: right -100px;}
#header #menu ul li a:hover span{background-position:left -100px ;}

#header .header-bg{position:absolute; bottom:0; height:40px; width:100%;background:url("../images/header-bg.png") no-repeat scroll center bottom; overflow:visible;}
#header .container{height:173px;}

#highlights {width:100%; background-color:#FFF; padding:0; background:none; overflow:hidden;}
#highlights .banner img{width:100%;}

#content {width:100%;padding:0; float:left;position:relative;}
#content .bar{ text-align:center; padding:7px 0 5px 0; margin:0 10px 10px 10px; color:#FFF; font-size:1.6em; text-transform:uppercase; background-color:#D33124;text-shadow:0 1px 0 rgba(0, 0, 0, .6);-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; font-family:'vagroundedStdBold';}
#content .wrap{padding:10px;}
#content .wrap p b {display: inline-block;width: 180px;}
#highlights .container{ width:930px;background:url("../images/content-bg.png") repeat-y center; padding:2px 20px;}
#content .container{ width:930px;background:url("../images/content-bg.png") repeat-y center; padding:10px 20px 20px 20px;}
#content .wrap{padding:10px 20px;}
#content form select {color: #464646;display: inline-block;margin-left: -4px;width: 234px;}

#content ul {width:100%;position:relative;}
#content ul.category li {display:block; width:33.3%; float:left;position:relative;}
#content ul.category li a{display:block; height:100%;overflow:hidden; padding:10px 10px 0px 10px; text-shadow:0 1px 0 rgba(255, 255, 255, .6);}
#content ul.category li a:hover{background-color:#f8fbff;}
#content ul.category li a:hover div .play-video{display:block;}
#content ul.category li div {margin-bottom:5px; position:relative;}
#content ul.category li div .play-video{display:none; width:100%; height:100%; background:url(../images/play-icon.png) no-repeat center center; position:absolute; top:0; left:0;}
#content ul.category li h2{color:#D33124; font-size:2em; margin-bottom:5px; font-family:'vagroundedStdBold';}
#content ul.category li span{font-size:1.6em;}

#content ul.category2 li {display:block; width:50%; height:auto; float:left; }
#content ul.category2 li a{display:block; height:100%; overflow:hidden; padding:10px; text-shadow:0 1px 0 rgba(255, 255, 255, .6);}
#content ul.category2 li a:hover{background-color:#f8fbff;}
#content ul.category2 li div {padding:5px;border:1px solid #0d3e51; margin:0 10px 10px 0;width:45%; float:left;}
#content ul.category2 li h2{color:#0d3e51; font-size:2em; margin-bottom:5px;}
#content ul.category2 li span{font-size:1.2em;}

#content ul.videos li{display:block; width:100%; float:none;}
#content ul.videos li a{padding:5px;border-bottom:1px dotted #114C35;}
#content ul.videos li div{padding:0;border:0; margin:5px 5px 5px 0; width:35%; float:left;}
#content ul.videos li h2{font-size:1.6em; margin-bottom:5px;}
#content ul.videos li span{font-size:1.2em;}
#content ul.videos li a.last{border: none}

#content .video .player{width:647px; height:364px; float:left; margin:0 0 10px 10px;}
#content .video .player object{width:647px; height:364px;}
#content .video .description{width:264px; height:364px; float:right; margin-bottom:10px; text-shadow:0 1px 0 rgba(255, 255, 255, .6);}
#content .video .description div{padding:10px;}
#content .video .description p{font-size:1.6em;}
#content .video iframe.elearning{border: none;width: 98%;min-height: 500px; margin:0 10px 10px}
#content .video .description .anexo span.icon {background: url("../images/anexo.png") no-repeat; width: 64px; height: 64px;display: block; cursor: pointer}
#content .video .description .anexo span.icon b {margin: 14px 16px 0 80px; position: absolute; font-size: 14px;}
#content .video .description .anexo span.icon .open {display: none}
#content .video .description .anexo ul {display: none; border: 1px solid #ccc;margin: 4px; padding: 7px 2px;}
#content .video .description .anexo ul li {margin: 5px}
#content .video .description .anexo ul li a {font-weight: bold}

#content .faq_video fieldset {margin: 8px 10px; border: 1px solid #ccc;}
#content .faq_video fieldset legend {padding: 4px 10px; font-size: 18px; font-weight: bold; cursor: pointer}
#content .faq_video fieldset ul li {margin: 10px 20px;}
#content .faq_video fieldset ul {display:none}

#content .faq li {margin-bottom:20px; border-bottom:1px dotted #114C35;}

#content #questions{padding:10px;}
#content #questions .number{color:#FFB400; font-weight:bold; font-size:4em;}
#content #questions .question{color:#0d3e51; font-size:2em; font-weight:bold; margin-bottom:10px;}
#content #questions .responses{font-size:1.2em;margin-bottom:20px; border-bottom:1px dotted #114C35}
#content #questions .responses p{margin:10px;}

#content .partner {position:relative; margin:0 20px;}
#content .partner ul{width:100%;}
#content .partner ul{margin: 0; padding: 0;	list-style: none;display: block;}
#content .partner li {display: table-cell;text-align: center;vertical-align: middle;	width: 118px;height: 68px;padding: 3px;margin: 2px;display: block;	float: left;}
#content .partner li img{display:inline; width:100%;}

#content .related-videos {position:relative; margin:0 20px;}
#content .related-videos ul{width:100%;margin: 0;padding: 0;	list-style: none;display: block;}
#content .related-videos li {margin: 10px;display: block;float: left; width:205px;height:151px;}
#content .related-videos li a{display:block;}
#content .related-videos li h4{font-size:1.4em; color:#D33124;}

#content .arrow{background:url("../images/arrows.png") no-repeat scroll center center;display:block; position:absolute; top:30%; display:block;width:34px; height:34px;}		
#content .next{right:-20px; background-position:-0px;}
#content .prev{left:-20px; background-position:-34px;}

#content table{font-size:1.6em; width:100%; border-collapse:collapse; margin-bottom:20px; text-align:left;}
#content table th{border-bottom: 1px solid #FFFFFF; font-weight: bold; padding: 8px;}
#content table td{border-bottom: 1px solid #FFFFFF; border-top: 1px solid transparent; padding: 8px;}

#footer {background-color:#D33124; text-align:center; color:#FFF; font-size:1em; padding:16px 0 10px 0; border-top:1px solid #68a5bc;}
#footer .copy{margin-bottom:10px; }
#footer .container p{padding:0 20px;}

#account-widget{position:fixed; top:180px; right:0; z-index:9999;}
#account-widget .user-account{margin:2px 0 0 2px; display:block;width:50px; height:70px; background:none repeat scroll 0 0 #F4F4F4; 
box-shadow:-1px 2px 3px rgba(0, 0, 0, .3); border-style:solid none solid solid; border-color:#BEBEBE #BEBEBE #BEBEBE -moz-use-text-color;
border-width:1px medium 1px 1px;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
#account-widget .user-account img{margin:2px 0 0 2px;}
#account-widget #account{width:320px; display:none;position:absolute; top:0; right:60px; padding:10px;
background:none repeat scroll 0 0 #F4F4F4; border:1px solid #BEBEBE;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1);}
#account-widget #account > div{  padding:10px;height: expression(this.scrollHeight <= "200" ? "200" : expression(this.scrollHeight >= "410" ? "410" : "auto"));min-height:200px;max-height: 410px; overflow:auto;}
#account-widget #account .arrow{background: url("../images/arrow.gif") no-repeat scroll left top transparent; display:block; position:absolute; width:5px; height:10px;top: 34px;left:340px;}
#account-widget #account .certified{margin-top:5px; padding-bottom:5px;}
#account-widget #account .progress-bar{display:inline-block; width:50%; height:8px; background-color:#dcdcdc;}
#account-widget #account .progress-bar span{display:block; height:100%; background-color:#060;background: url("../images/progress-bar-bg.gif") repeat-x transparent;}
#account-widget #account .progress-bar-red span{display:block; height:100%; background-color:#060;background: url("../images/progress-bar-bg-red.gif") repeat-x transparent;}
#account-widget #account .progress-text{ margin-left:5px;}
#account-widget #account .courses{list-style: none; margin-left:5px; display:block;}
#account-widget #account .courses li {display:block; font-size:1.2em; margin:1px 0;}
#account-widget #account .courses li a {font-size: 16px}
#account-widget #account .buttom{float:right; margin:-2px 0 5px 5px;}
#account-widget #account .status{display:inline-block; width:12px; height:12px; margin-right:2px;background: url("../images/icons-video-status.png") no-repeat scroll left top transparent; text-indent:-999px; overflow:hidden;}
#account-widget #account .status.play-ok{background-position:0px 0px;}
#account-widget #account .status.play-pending{background-position:0px -12px;}
#account-widget #account .status.view-ok{background-position:-12px 0px;}
#account-widget #account .status.view-pending{background-position:-12px -12px;}
#account-widget #account .status.question-ok{background-position:-24px 0px;margin-right:1px;}
#account-widget #account .status.question-pending{background-position:-24px -12px;margin-right:1px;}
#account-widget #account .status.question-none{background-position:-24px 0px;margin-right:1px;}

#enquete-widget{position:fixed; top:290px; right:0; z-index:9999;}
#enquete-widget .enquete{margin:2px 0 0 2px; display:block;width:50px; height:70px; background:none repeat scroll 0 0 #F4F4F4; 
box-shadow:-1px 2px 3px rgba(0, 0, 0, .3); border-style:solid none solid solid; border-color:#BEBEBE #BEBEBE #BEBEBE -moz-use-text-color;
border-width:1px medium 1px 1px;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
#enquete-widget .enquete img{margin:2px 0 0 2px;}
#enquete-widget #enquete{width:320px; display:none; position:absolute; top:0; right:60px; padding:10px;
background:none repeat scroll 0 0 #fff; border:1px solid #BEBEBE;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;box-shadow:-1px 1px 3px rgba(0, 0, 0, 0.1);}
#enquete-widget #enquete > div{  padding:10px;height: expression(this.scrollHeight <= "200" ? "200" : expression(this.scrollHeight >= "410" ? "410" : "auto"));min-height:200px;max-height: 410px; overflow:auto;}
#enquete-widget #enquete .arrow{background: url("../images/arrow.gif") no-repeat scroll left top transparent; display:block; position:absolute; width:5px; height:10px;top: 34px;left:340px;}
#enquete-widget #enquete .shadow label{margin: 8px 0;display: block;font-size: 14px;}
#enquete-widget #enquete .shadow .btn{display: none;float: right;margin-top: 10px;}

#login {height:410px; left:50%; margin:-205px 0 0 -200px; position:absolute; top:50%; width:400px;}
#login #logo{padding:20px; text-align:center;}
#login form{position:relative; border:none; padding:20px 30px; margin:20px; text-align:left;background: #F6F6F6;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#d4dcd8');background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#dce2df)); background: -moz-linear-gradient(top,  #F6F6F6,  #d4dcd8);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);}
#login form label{display:block; margin:0 0 5px -5px; font-size:2em; font-weight:bold; color:#0d3e51;}
#login form input{ width:100%; padding:5px; margin:0 0 10px -5px;}
#login form input.buttom{width:50%; margin-top:5px;}
.busca {color: #999;}
.tia {cursor: pointer;margin: 0;position: absolute;right: 24px;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.jewelCount {border-radius: 2px 2px 2px 2px;color: #FFFFFF;font-size: 10px;font-weight: bold;padding-bottom: 1px;position: absolute;left: -2px;top: 0;}
.jewelCount span {background-color: #F03D25;border-color: #E23923 #D83722 #C0311E;border-left: 1px solid #D83722;border-radius: 2px 2px 2px 2px;border-right: 1px solid #D83722;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(0, 39, 121, 0.77);display: block;padding: 0 1px;}
#account-widget .jewelCount {display: block;}
#menu .user-button .jewelCount, #menu .enquete .jewelCount{display: none;}
