.container {width:100%; margin:0 auto; position:relative;}
.buttom,.buttom2{padding:11px 20px 10px;}

#header{ padding:0;}
#header .container{height:173px;}
#header #header-text {right:25px; text-align:right; margin:0; top:10px;}
#header #search{position:absolute; width:30%; top:55px; right:25px;}
#header #menu{position:absolute; right:25px;border:none;}

#content .video .player{width:590px; height:330px; margin:0 auto 10px; float:none;}
#content .video .player object{width:590px; height:330px;}
#content .video .description{width:100%; height:auto; margin-bottom:10px; float:none;}
#content .video iframe.elearning{width: 90%}

#highlights .container, #content .container{ width:100%; padding:20px 0;}

#footer {padding:20px 0;}