<script type="text/javascript">

	var playermv  = Object();
	var intervalo = 0;

	function onPlay(arg){

		if ( $("a.btn_overlay").length )
		{
			$("a.btn_overlay").css('opacity', .3).attr('href', 'javascript:void(0);').attr('title', 'Assista o vídeo até o fim');
		} else {
			$('.buttom').css('display', 'none');
		}

        $.post('{% url action rede %}',
                {'video_id':'{{ id }}', 'action':'play', 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                function(data){}
        );

	};

	function onComplete(){

		if ( $("a.btn_overlay").length )
		{
			$("a.btn_overlay").css('opacity', 1).attr('href', $("a.btn_overlay").attr('action')).attr('title', 'Clique Aqui');
		} else {
			$('.buttom').css('display', 'inline-block');
		}

        $.post('{% url action rede %}',
                {'video_id':'{{ id }}', 'action':'complete', 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                function(data){}
        );

	};

</script>

<script type="text/javascript" src="{{ base_url }}api/video/embed.js?idContent={{ code }}&width={{ w }}&height={{ h }}&logo_url={{ logo_url }}&logo_link={{ logo_link }}"></script>

<script type="text/javascript">

	function setsize(w, h){
		$('object, embed, video').css('width', w + 'px').css('height', h + 'px');
		$('object, embed, video').attr('width', w).attr('height', h);
		$('.mejs-mediaelement, .mejs-layer, .mejs-video').css('width', w + 'px').css('height', h + 'px');
		try{
			playermv.setPlayerSize(w, h);
		}catch(e){}
	}

	function updatePlayer(w, h) {
		intervalo = setTimeout(function() { setsize(w, h); }, 10);
	}

</script>