<a class="back" href="javascript:history.back();"><span>&laquo;</span>Voltar</a>

{% for i in list_link %}
    {% if i.id %}
        <a class="navegador" href="{% url home %}{{ rede.link }}/category/{{ i.id }}/" title="Clique aqui">{{ i.name }}</a> <span class="spacer navegador">/</span>
    {% else %}
    <a class="navegador" href="{% url home %}{{ rede.link }}/" title="Clique aqui">{{ i.name }}</a> <span class="spacer navegador">/</span>
    {% endif %}
{% endfor %}

{% if atual.get_name %}
    <span class="navegador">{{ atual.get_name }}</span>
{% else %}
    <span class="navegador">{{ atual.name }}</span>
{% endif %}