<style>
table { font-family: Arial }
table td { padding:5px ; border-bottom: 1px solid #efefef; border-right: 1px solid #efefef; }  
table th { padding:5px ; background: #efefef }  
</style>

{% load percents %}

<table>
  <tr>
    <th></th>
    {% for i in months_choices %}
    <th>{{ i|date:'M' }}</th>
    {% endfor %}
  </tr>
  
  {% for i in table_line %}
  <tr>
    
    <th>{{ i.state_name }}</th>
    
    {% for j in i.state_log %}
      <td>{{ j.0.total|default:0|percent:j.1.total_log }} %</td>
    {% endfor %}
   
  </tr> 
  {% endfor %}  
  
  <tr>
    <th>Total de acessos</th>
    <td colspan='13'>{{ visitorlogs_total.total }} </td>
  </tr>  
  
</table>
