<html>
<head>
	<title>embed vflow</title>

<style type="text/css">
	#mini-player {
		position: absolute;
		left: 50%;
		margin-left: -163px;
		top: 43%;
	}
	fieldset {
		font-size: 12px;
	}
</style>

</head>

<body>

<div id="mini-player">
	<script type="text/javascript" src="http://audio.sebrae.com.br/api/embed.js"></script>
</div>

<fieldset>
	<legend>Parametros</legend>

	<p>idCategory = valor para o id da serie ou categoria, exemplo definido: idCategory:13, default = 22</p>
	<p>idContent = valor para o id do programa, exemplo definido: idContent:581, default = 512</p>
	<p>playAuto = true ou false para iniciar player execução, default = false</p>
	<p>repeat = reprodução aleatórias dos audios, default = false</p>
	<p>base_url = local onde buscar a api do projeto, exemplo definido: base_url:http://audio.sebrae.com.br/, default = http://audio.sebrae.com.br/</p>

</fieldset>

</body>
<html>