<html>
<head>
	<title>embed vflow</title>

<style type="text/css">
	#mini-player {
		position: absolute;
		left: 50%;
		margin-left: -163px;
		top: 40%;
	}
	fieldset {
		font-size: 12px;
	}
</style>

</head>

<body>

<div id="mini-player">
	<script type="text/javascript" src="http://tv.sebrae.com.br/api/embed.js"></script>
</div>

<fieldset>
	<legend>Parametros</legend>

	<p>idContent = valor para o id do programa, exemplo definido: idContent:951, default = 0</p>
	<p>playAuto = true ou false para iniciar player execução, default = false</p>
	<p>base_url = local onde buscar a api do projeto, exemplo definido: base_url:http://tv.sebrae.com.br/, default = http://virtual1:8003/</p>

</fieldset>

</body>
<html>