{% if video.category.all.count %}
    {% for f in video.category.all %}
        <ul>
           <ul id="categorymenu{{ f.id }}" class="mcdropdown_menu">
                {% for i in category_list %}
                    <li rel="{{ i.id }}">
                        {{ i.name }}
                        {% if i.category_set.all.0 %}
                            <ul>
                        {% endif %}
                        {% for j in i.category_set.all %}
                            <li rel="{{ j.id }}">
                                {{ j.name }}
                            </li>
                        {% endfor %}
                        {% if i.category_set.all.0 %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <input type="text" name="{{ f.id }}" class="category" value="{{ f.id }}" />
            <p>
            	{% if not no_del %}
               		<img title='deletar categoria' class="bt_deletar" name="{{ f.id }}" src="{{STATIC_URL}}/static/manager/images/bt_excluir1.png" border='0'/>
				{% endif %}
            </p>
        </ul>
    {% endfor %}
{% else %}
    <ul class="newItem">


            <ul id="categorymenu0" class="mcdropdown_menu">

                {% for i in category_list %}

                    <li rel="{{ i.id }}">

                        {{ i.name }}

                        {% if i.category_set.all.0 %}
                            <ul>
                        {% endif %}

                        {% for j in i.category_set.all %}

                            <li rel="{{ j.id }}">
                                {{ j.name }}
                            </li>

                        {% endfor %}

                        {% if i.category_set.all.0 %}
                            </ul>
                        {% endif %}

                    </li>

                {% endfor %}

            </ul>


        <input type="text" name="0" class="category" value="" />

    </ul>
{% endif %}