<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" dir="ltr">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Rafael Feijó da Rosa" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        {% block title %}
        <title>MegaVideo - MegaMidia</title>
        {% endblock %}

        {% block css_script %}
            <link href="{{STATIC_URL}}/static/manager/css/main.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{STATIC_URL}}/static/manager/css/digg.css" rel="stylesheet" type="text/css" media="screen" />
			<link href="{{STATIC_URL}}/static/manager/css/jquery.checkbox.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{STATIC_URL}}/static/manager/css/sortListUI.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{STATIC_URL}}/static/manager/css/jquery.mcdropdown.css" rel="stylesheet" type="text/css" media="screen" />
        {% endblock %}

        {% block js_root %}
       <script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery-1.4.2.min.js"> </script>
			<script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.simpletip-1.3.1.min.js"> </script>
      <script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.corner.js"> </script>
			<script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.checkbox.min.js"></script>
			<script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.dd.js"> </script>
			<script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.backgroundPosition.js"> </script>
			<script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.form.js"> </script>
        {% endblock %}

        {% block js_script %}
            <script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/script_manager.js"> </script>
            <script type="text/javascript" src="{{STATIC_URL}}/static/manager/js/jquery.jqModal.js"> </script>
        {% endblock %}
        
        {% block extra_header %}
        {% endblock extra_header %}
        

    </head>
    <body class='manager'>
    	
		<div class="channel" style="display: none;">{{ request.channel_url }}</div>
		
        <div id='warp'>
        {% block warp %}

            <div id='top'>
                {% block top %}

              {% block top_logo %}
               <div class='float_right' style='float:right;padding:5px 10px;'>

               	 <form action='' method='post'>

					 <table>
					 	<tr>
							<td align="right">
	                        	<select name='restric_channel' class='ddselect' id='restric_channel' style='width:180px' onchange='window.location.href="/megavideo/home/" + this.value + "/manager/program/"'>
	                          		{% for i in user_channel %}
	                          			<option value='{{ i.name|slugify }}'
	                          			{% ifequal request.channel_name|slugify i.name|slugify %}
	                              			selected='selected'
	                          			{% endifequal %}>
	                             		{{ i.name|slugify }}
	                           			</option>
	                           		{% empty %}	
	                           			<option value='{{ select_channel|slugify }}' selected='selected'>
	                             			{{ select_channel|slugify }}
	                           			</option>
	                  				{% endfor %}
	               				</select>
							</td>
						</tr>
					 </table>

                  </form>

                         </div>

                         <div class='float_left' style="float:left; margin-left: 5px;display:none;">
                             <a href='{{ request.channel_url }}manager/panel/' title='Painel'>
                                 <img src='{{STATIC_URL}}/static/manager/images/logo_megamidia.gif' border='0' />
                            </a>
                         </div>

                        {% endblock %}

                    <div id='menu_top'>
                    {% block menu_top %}
                          {% include 'manager/menu_top.html' %}
                    {% endblock %}
                    </div><!-- close menu_top -->

                {% endblock %}
            </div><!-- close top -->
            <div id='breadcrumb'>
            {% block breadcrumb %}
             {% for breadcrumb in request.breadcrumbs %}
                  <a href="{{ breadcrumb.url }}"
                  {% if forloop.first %} 
                  class='first' 
                  {% endif %}
                  >{{ breadcrumb.name }}</a>
                  {% if not forloop.last %} > {% endif %}
             {% endfor %}
              {% endblock %}
            </div>
            <!-- menu interno para paginas -->
            <div id='content'>
                {% block content %}
                {% endblock %}
            </div><!-- close content -->
        
        {% endblock %}
        </div>    <!-- close warp -->
        
        <div id='bottom'>
                {% block bottom %}
                     {% include 'manager/bottom.html' %}
                {% endblock %}
        </div> <!-- close bottom -->

        {% block confirm %}

        {% endblock %}

        {% block submenu %}
            <div class="jquery_submenu"><!-- elementos sub-menu --></div>
        {% endblock %}

    </body>
</html>
